<html>
    <head>HEllo</head>
    <titile>HELLO</titile>
    <body>
      
        <% if(x) {%>
            <div class="button header_button"><a href="/logout">Logout</a></div>
            <% } else {%>
               <div class="button header_button"><a href="/login">Login</a></div>
            <% } %>
         
    </body>
</html>