<!DOCTYPE html>
<html lang="en">

<head>
	<title>Speakers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/default-theme.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main_styles.css">
	<link rel="stylesheet" type="text/css" href="./css/responsive.css">
	<!-- font-awesome -->
	<link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css">


	<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<!-- speaker css -->
	<link rel="stylesheet" type="text/css" href="./css/speaker.css">
	<style>
		@media (max-width:765px) {
		#speaker-modal-1 {
			padding-top: 220px;
			margin-left:-20px; 
		}
	}
@media (min-width:765px) {
#speaker-modal-1 {
padding-top: 120px;
margin-left:-20px;
}}
</style>
</head>

<body>
	<section id="tshirt-popup" class="hide-the-shit">
		<!-- partial:index.partial.html -->
		<div id="page">
		  <div class="card__container">
			<!--div class="card_bg_image-hero transition--loading loading"></div-->
			<div class="card1 loading transition--loading transition">
			  <div class="card__bg">
				<div class="close-offer-btn" id="close-offer"><i onClick="hideit();" class="material-icons">close</i></div>
				<div class="card_content_center container">
				  <img src="images/1.png" class="t-shirt-img" alt="t-shirt_img">
				</div>
			  </div>
			  <div class="card__content--bottom">
				<p class="t-shirt-price"> <strong>Price:  </strong><span class="cutted-price">Rs.315</span><span class="orig-price">299</span></p>
				<p class="t-shirt-desc">Offer Valid Only for <strong>First 25 </strong>T-shirts! HURRY UP</p>
				<a href="payment-page/index.html" onclick="window.open('https://forms.gle/mKWfCe2EzvLZVRCS8');" class="click-btn-hai middle transition push--bottom">Buy Now</a>       
			  </div>
			</div>
		  </div>
		</div>
		</section>
	<div class="super_container">
		<!-- Menu -->
		<div class="menu trans_500">
			<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
				<div class="menu_close_container">
					<div class="menu_close"></div>
				</div>
				<div class="logo menu_logo">
					<a href="#">
						<div class="logo_container d-flex flex-row align-items-start justify-content-start">
							<div class="logo_image">
								<div><img src="images/logo.png" alt=""></div>
							</div>
							<div class="logo_content">
								<div class="logo_text logo_text_not_ie">E-Summit’20</div>
								<div class="logo_sub">Breakthrough To Excellence</div>
							</div>
						</div>
					</a>
				</div>
				<ul>
					<li class="menu_item"><a href="/">Home</a></li>
					<li class="menu_item"><a href="/speaker">Speakers</a></li>
					<li class="menu_item"><a href="/sponsors">Sponsors</a></li>
					<li class="menu_item"><a href="/team">Team</a></li>	
					<li><a href="#" onclick="showit();">T-Shirt</a></li>		
				</ul>
			</div>
			<div class="menu_social">
				<div class="menu_social_title">Follow us on Social Media</div>
				<ul>
					<li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>

		<!-- Home -->

		<div class="home">
			<!-- <div class="home_background" style="background-image: url(images/crowd.jpg)"></div> -->
			<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/crowd.jpg" data-speed="0.8"></div>
			<!-- Header -->
			<header class="header" id="header">
				<div>
					<div class="header_top">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
										<div>
											<a href="#">
												<div class="logo_container d-flex flex-row align-items-start justify-content-start">
													<div class="logo_image">
														<div><img src="images/logo.png" alt=""></div>
													</div>
													<div class="logo_content">
														<div id="logo_text" class="logo_text logo_text_not_ie">E-Summit’20</div>
														<div class="logo_sub">Breakthrough To Excellence</div>
													</div>
												</div>
											</a>
										</div>
										<div class="header_social ml-auto">
											<ul>
												<li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
												<li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header_nav" id="header_nav_pin">
						<div class="header_nav_inner">
							<div class="header_nav_container">
								<div class="container">
									<div class="row">
										<div class="col">
											<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
												<nav class="main_nav">
													<ul>
														<li><a href="/">Home</a></li>
														<li class="active"><a href="/speaker">Speakers</a></li>
														<li><a href="/sponsors">Sponsors</a></li>
														<li><a href="/Team">Team</a></li>
														<li><a href="#" onclick="showit();">T-Shirt</a></li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_date">February 29, 2020</div>
								<div class="home_title">E-summit 2020</div>
								<div class="home_location">KIET Group of Institutions</div>
								<!-- <div class="home_text">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div> -->
								<div class="home_buttons">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="speakers" class="section">
		<!-- container -->
		<div class="section-title">
			<h3 class="title"><span class="appear">Our</span> <span style="color:#701f48" class="appear">Speakers</span></h3>
		</div>
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<!-- section title -->

				<!-- speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-1">
						<div class="speaker-img">
							<img src="./images/speaker/sanmeet.jpeg" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="https://www.facebook.com/public/Sanmeet-Kaur"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="https://www.instagram.com/sanmeetkaurspeaker/?hl=en"><i class="fa fa-instagram"></i></a>
								<a href="https://in.linkedin.com/in/sanmeetkaurmotivationalspeaker"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Sanmeet Kaur</h2>
								<span>Manager, CEO</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->

				<!-- speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-2">
						<div class="speaker-img">
							<img src="./images/speaker/pradeepgupta.jfif" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="https://in.linkedin.com/in/pradeep-gupta-41515a"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Pradeep Gupta</h2>
								<span>Founder Cyber Media/Founding Member Inia Angel Network &TIE</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->

				<!-- speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-3">
						<div class="speaker-img">
							<img src="./images/speaker/divyarajput.png" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Divya Rajput</h2>
								<span>Incubator Manager Training & South Asia Connect, Texas Global at the University of Texas at Austin</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-4">
						<div class="speaker-img">
							<img src="./images/speaker/aditiohri.png" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Aditi Ohri</h2>
								<span>Agency Owner/Business Leader/Digital Marketer</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->

				<!-- speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-5">
						<div class="speaker-img">
							<img src="./images/speaker/sunildutt.png" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Sunil Dutt</h2>
								<span>President Devices at Relience Jio Infocomm Limited</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->

				<!-- speaker -->
				<div class="col-md-4 col-sm-6">
					<div class="speaker" data-toggle="modal" data-target="#speaker-modal-6">
						<div class="speaker-img">
							<img src="./images/speaker/shabnamsingh.jpeg" alt="">
						</div>
						<div class="speaker-body">
							<div class="speaker-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa fa-linkedin"></i></a>
							</div>
							<div class="speaker-content">
								<h2>Shabnam Singh</h2>
								<span>Chairperson YouWeCan</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /speaker -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- speaker modal -->
	<div id="speaker-modal-1" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/sanmeet.jpeg" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Sanmeet Kaur</h2>
								<span class="speaker-job">- Business Coach</span>

								<p>We feel gratified to announce our first astonishing speaker from a stellar lineup of speakers for Endeavour'20 - 
									Sanmeet Kaur. She's a motivational speaker, corporate trainer and a business coach with an experience of 16 years 
									in the corporate sector and it has been more than 6 years she's into training and consulting. Wherein she is directly 
									associated with the top positions of the companies i.e Chairman/Managing director/CEO/President, which has helped her 
									gain practical experience while working with the manufacturing companies. Her mission is to impact the lives of 1,00,000
									 entrepreneurs and help them improve their revenue by optimizing their customer experience. She is also the founder of 
									 Sunson Trainings and directed the entrepreneurs to help them grow their business and solve their problems.<br>
									We invite you all to this session where you will learn about the secrets and frameworks which will help you to take your career to the next level.
									Catch her live on 29th Feb at Endeavour 2020!</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="http://www.sanmeetkaur.com/">www.sanmeetkaur.com/</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="https://www.facebook.com/public/Sanmeet-Kaur"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="https://www.instagram.com/sanmeetkaurspeaker/?hl=en"><i class="fa fa-instagram"></i></a>
									<a href="https://in.linkedin.com/in/sanmeetkaurmotivationalspeaker"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="speaker-modal-2" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/pradeeepgupta.jfif" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Pradeep Gupta</h2>
								<span class="speaker-job">- Founder CyberMedia/ Founding Member India Angel network& TIE</span>

								<p>Here we are announcing the next amazing speaker in lineup- Mr Pradeep Gupta.<br>
									He's the Chairman & Managing Director of CyberMedia Group and also the co-founder of Indian Angel Network. He is an industry veteran since 40 years and is highly reputed in the IT Industry.<br>
									Catch him live at Endeavour'20 and learn from the greatest of the field!</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="#">Website</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="speaker-modal-3" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/divyarajput.png" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Divya Rajput</h2>
								<span class="speaker-job">- Incubator Manager Training & South Asia Connect, Texas Global at The University Of Texas at Austin</span>

								<p><strong>"Words have incredible power.<br>
									They can make people’s hearts soar."</strong><br>
									So with this, we feel delighted to announce the next speaker of our star-spangled list, Divya Rajput, president of the Association of Women in Business and also India Lead at Incubator Manager Training & South Asia Connect. She has also shared workplace with government, corporate world and is working for fostering and promoting start-ups and innovation in the ecosystem.
									Catch her live  Endeavour'20.</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="#">Website</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="speaker-modal-4" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/aditiohri.png" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Aditi Ohri</h2>
								<span class="speaker-job">- Agency Owner/Business Leader/Digital Marketer</span>

								<p><strong>"An Engineer working to build brands to make an impact in the world."</strong><br>
									Aditi Ohri, director of operation and strategies at Emporio Marketing. She was the lead social media manager for VLCC India, NASSCOM, Micromax India, Lava India and NIIT University among others at the very young age of her life.  
									We are astonished to have such a personality with us for the upcoming entrepreneurial summit: Endeavour'20.</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="#">Website</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="speaker-modal-5" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/sunildutt.png" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Sunil Dutt</h2>
								<span class="speaker-job">- President Devices at Relience Jio Infocomm Limited</span>

								<p><strong>"Here in the line, we are announcing the latest addition to our speaker lineup- Mr Sunil Dutt"</strong><br>
									Mr. Sunil Dutt is the President Devices at Reliance Jio Infocomm Limited and was the country head for Samsung India Electronics when the company witnessed growth in its mobile devices business.
									We are overwhelmed to have such an experienced personality with us for the much-awaited Endeavour'20.</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="#">Website</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="speaker-modal-6" class="speaker-modal modal fade" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="speaker-modal-close" data-dismiss="modal"></button>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-5">
							<div class="speaker-modal-img">
								<img src="./images/speaker/shabnamsingh.jpeg" alt="">
							</div>
						</div>
						<div class="col-md-7">
							<div class="speaker-modal-content">
								<h2 class="speaker-name">Shabnam Singh</h2>
								<span class="speaker-job">- Chair Person YouWeCan</span>

								<p><strong>We team e-Cell presents to you with another great speaker of the steller lineup- Shabnam Singh</strong><br>
								She's well-known figure in India, through her philanthropic foundation YouWeCan, and her son Yujraj Singh is the legend of the
								Indian cricket team.</p>

								<div class="speaker-website">
									<h4>Website</h4>
									<a href="#">Website</a>
								</div>

								<div class="speaker-social">
									<h4>Social Profile</h4>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa fa-linkedin"></i></a>
								</div>

								<!--div class="speaker-events">
									<h4>Sessions</h4>
									<div class="speaker-event">
										<span><strong>Day 1 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>His id altera fabellas facilisis. Has eros assueverit cu</p>
									</div>

									<div class="speaker-event">
										<span><strong>Day 2 -</strong> February 20, 2018 8 : 00 AM - 11 :
											00 AM</span>
										<p>At mucius deserunt delicatissimi eam, labitur detraxit ut sit</p>
									</div>
								</div-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="copyright-block">
		<div class="copyright-box">
			<h6 class="copyright-written">Copyright &copy; e-Cell Technical Team 2020</h6>
		</div>
	</footer>
	<!-- /speaker modal -->
	<script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./css/bootstrap4/popper.js"></script>
	<script type="text/javascript" src="./css/bootstrap4/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/parallax.min.js"></script>
	<script type="text/javascript" src="./js/custom.js"></script>
	<script type="text/javascript" src="./js/popup.js"></script>
</body>

</html>