<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sponsers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap4/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main_styles.css">
  <link rel="stylesheet" type="text/css" href="./css/responsive.css">
  <!-- font-awesome -->
  <link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css">

  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <!-- sponsers css -->
  <link rel="stylesheet" type="text/css" href="./css/sponser-hexagons.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <!--loader css start-->
  <style type="text/css">
    .no-js #loader {
      display: none;
    }

    .js #loader {
      display: block;
      position: absolute;
      left: 100px;
      top: 0;
    }

    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(images/64x64/Preloader_8.gif) center no-repeat #fff;
    }

    .section-title .title {
      position: relative;
      text-transform: capitalize;
      font-weight: 900;
      font-size: 42px;
      overflow: hidden;
    }
.section-title{
  margin-top:20px;
  margin-bottom:60px;
}
  </style>
  <!--loader css ends-->
</head>

<body>
  <section id="tshirt-popup" class="hide-the-shit">
    <!-- partial:index.partial.html -->
    <div id="page">
      <div class="card__container">
      <!--div class="card_bg_image-hero transition--loading loading"></div-->
      <div class="card1 loading transition--loading transition">
        <div class="card__bg">
        <div class="close-offer-btn" id="close-offer"><i onClick="hideit();" class="material-icons">close</i></div>
        <div class="card_content_center container">
          <img src="images/1.png" class="t-shirt-img" alt="t-shirt_img">
        </div>
        </div>
        <div class="card__content--bottom">
        <p class="t-shirt-price"> <strong>Price:  </strong><span class="cutted-price">Rs.315</span><span class="orig-price">299</span></p>
        <p class="t-shirt-desc">Offer Valid Only for <strong>First 25 </strong>T-shirts! HURRY UP</p>
        <a href="payment-page/index.html" onclick="window.open('https://forms.gle/mKWfCe2EzvLZVRCS8');" class="click-btn-hai middle transition push--bottom">Buy Now</a>       
        </div>
      </div>
      </div>
    </div>
    </section>
  <div class="super_container">
    <!-- Menu -->
    <div class="menu trans_500">
      <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container">
          <div class="menu_close"></div>
        </div>
        <div class="logo menu_logo">
          <a href="#">
            <div class="logo_container d-flex flex-row align-items-start justify-content-start">
              <div class="logo_image">
                <div><img src="images/logo.png" alt=""></div>
              </div>
              <div class="logo_content">
                <div class="logo_text logo_text_not_ie">E-Summit’20</div>
                <div class="logo_sub">Breakthrough To Excellence</div>
              </div>
            </div>
          </a>
        </div>
        <ul>
          <li class="menu_item"><a href="/">Home</a></li>
          <li class="menu_item"><a href="/speaker">Speakers</a></li>
          <li class="menu_item"><a href="/sponsors">Sponsors</a></li>
          <li class="menu_item"><a href="/team">Team</a></li>
          <li><a href="#" onclick="showit();">T-Shirt</a></li>
        </ul>
      </div>
      <div class="menu_social">
        <div class="menu_social_title">Follow us on Social Media</div>
        <ul>
          <li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Home -->

    <div class="home" style="height:220px;">
      <!-- Header -->
      <header class="header" id="header">
        <div>
          <div class="header_top">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <a href="#">
                        <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                          <div class="logo_image">
                            <div><img src="images/logo.png" alt=""></div>
                          </div>
                          <div class="logo_content">
                            <div id="logo_text" class="logo_text logo_text_not_ie">E-Summit’20</div>
                            <div class="logo_sub">Breakthrough To Excellence</div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="header_social ml-auto">
                      <ul>
                        <li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header_nav" id="header_nav_pin">
            <div class="header_nav_inner">
              <div class="header_nav_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                        <nav class="main_nav">
                          <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/speaker">Speakers</a></li>
                            <li class="active"><a href="/sponsors">Sponsors</a></li>
                            <li><a href="/team">Team</a></li>
                            <li><a href="#" onclick="showit();">T-Shirt</a></li>
                          </ul>
                        </nav>
                      <!----<div class="header_extra ml-auto">
                          <div class="button header_button"><a href="/register">Register</a></div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="section-title">
    <h3 class="title text-center"><span class="appear" style="color:#0b0f28;">Our</span> <span style="color:#701f48" class="appear">Sponsors</span></h3>
      </div>
      <div class="se-pre-con"></div>
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://tvfplay.com/c/the-timeliners">
              <img src="images/sponser/timeliners.jpg" style="padding:45px;" alt="" />
              <h1>Timeliners</h1>
              <p>Title Sponser</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.barbequenation.com/">
              <img src="images/sponser/barbeque.jpg" style="padding:40px;"alt="" />
              <h1>Barbeque Nation</h1>
              <p>Food Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://codingblocks.com/">
              <img src="images/sponser/.jpeg" style="padding:40px;"alt="" />
              <h1>Coding Blocks</h1>
              <p>Coding Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.reliancetrends.com/">
              <img src="images/sponser/trends.png" style="padding:40px;"alt="" />
              <h1>Trends</h1>
              <p>Fashion Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="http://www.internity.in/">
              <img src="images/sponser/.jpeg" style="padding:40px;"alt="" />
              <h1>Internity</h1>
              <p>Internship Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.time4education.com/">
              <img src="images/sponser/time.jpg" style="padding:100px;"alt="" />
              <h1>Time</h1>
              <p>Education Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/electrofield.jpg" style="padding:100px;"alt="" />
              <h1>Electro Field</h1>
              <p>Associate Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.foodwalas.com/#">
              <img src="images/sponser/1_1.png" style="padding:150px;"alt="" />
              <h1>Foodwalas</h1>
              <p>Food Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/.png" style="padding:100px;"alt="" />
              <h1>Bhurak</h1>
              <p>Associate Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/.png" style="padding:100px;"alt="" />
              <h1>Sapro</h1>
              <p>Associate Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.news1india.in/">
              <img src="images/sponser/newsindia.jpg" style="padding:100px;"alt="" />
              <h1>News India 1</h1>
              <p>Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/enray.png" style="padding:100px;"alt="" />
              <h1>Enray</h1>
              <p>Associate Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/.png" style="padding:100px;"alt="" />
              <h1>Dellsoft</h1>
              <p>Associate Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.thesouledstore.com/">
              <img src="images/sponser/souledstore.png" style="padding:70px;" alt="" />
              <h1>The Souled Store</h1>
              <p>Gifting Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.atlanticwaterworld.com/">
              <img src="images/sponser/atlantic.png" style="padding: 40px;" alt="" />
              <h1>Atlantic Water World</h1>
              <p>Entertainment Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/the hidden hour.png" style="padding: 40px;" alt="" />
              <h1>The Hidden Hour</h1>
              <p>Entertainment Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/dubulletin.jpg" style="padding:70px" alt="" />
              <h1>Du Bulletin</h1>
              <p>Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://thesocialrush.com/">
              <img src="images/sponser/thesocial.jpg" style="padding:40px;" alt="" />
              <h1>The Social Rush</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://influence.co/campusbloggers">
              <img src="images/sponser/campus bloggers.png" style="padding:40px;" alt="" />
              <h1>Campus Bloggers</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.cetpainfotech.com/">
              <img src="images/sponser/cepta.png" style="padding:90px;" alt="" />
              <h1>CETPA</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://foxmula.com/">
              <img src="images/sponser/foxmula.png" style="padding: 140px;" alt="" />
              <h1>Foxmula</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://smaaash.in/">
              <img src="images/sponser/smaash.png" style="padding:100px;" alt="" />
              <h1>Smaaash</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="http://durefreshnews.blogspot.com/">
              <img src="images/sponser/durefresh.jpg" style="padding:40px;" alt="" />
              <h1>DU Refresh</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/the education tree.png" style="padding:40px;" alt="" />
              <h1>The Education Tree</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.datatrained.com/">
              <img src="images/sponser/datatrained.png" style="padding:40px;" alt="" />
              <h1>Data Trained</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/delhinow.png" style="padding:140px;" alt="" />
              <h1>Delhi Now</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://youthincmag.com/">
              <img src="images/sponser/youth.png" style="padding:120px;" alt="" />
              <h1>Youth Incorporated</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.edtimes.in/">
              <img src="images/sponser/campus bloggers.jpg" style="padding:40px;" alt="" />
              <h1>ED Times</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="http://dubeat.com/">
              <img src="images/sponser/dubeat.jpg" style="padding:70px;" alt="" />
              <h1>DU beat</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://yourstory.com/">
              <img src="images/sponser/yourstory.png" style="padding:90px;" alt="" />
              <h1>Your Story</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://newsaurchai.com/">
              <img src="images/sponser/newsaurchai.png" style="padding:150px;" alt="" />
              <h1>NewsaurChai</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://thecampusmedia.com/">
              <img src="images/sponser/thecampusmedia.jpg" style="padding:60px;" alt="" />
              <h1>The Campus Media</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.facebook.com/Kayam-Times-1696988827240037/">
              <img src="images/sponser/kayam.jpg" style="padding:130px;" alt="" />
              <h1>Kayam Times</h1>
              <p>Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.eatmy.news/">
              <img src="images/sponser/eatmynews.png" style="padding:110px;" alt="" />
              <h1>Eat My News</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.fiesto.live/">
              <img src="images/sponser/fiesto_new.png" style="padding:120px;" alt="" />
              <h1>Fiesto Live</h1>
              <p>Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://feevin.in/">
              <img src="images/sponser/feevin .png" style="padding:40px;" alt="" />
              <h1>Feevin</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.blogadda.com/">
              <img src="images/sponser/blogadda.png" style="padding:160px;" alt="" />
              <h1>Blogadda</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.noticebard.com/">
              <img src="images/sponser/notice.PNG" style="padding:80px;" alt="" />
              <h1>Notice Bard</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.springedge.com/">
              <img src="images/sponser/springedge.jpg" style="padding:40px;" alt="" />
              <h1>Spring Edge</h1>
              <p>Messaging Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://duexpress.in/">
              <img src="images/sponser/dureporter.jpeg" style="padding:120px;"  alt="" />
              <h1>Du Reporter</h1>
              <p></p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://duexpress.in/">
              <img src="images/sponser/duexpress.png" style="padding:120px;"  alt="" />
              <h1>Du Express</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://thesocialrush.com/">
              <img src="images/sponser/the.jpg" style="padding:50%;" alt="" />
              <h1>The Social Rush</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/ATKT.png" style="padding:20px;" alt="https://atkt.in/" />
              <h1>ATKT</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/ohcampus.png" style="padding:80px;" alt="https://ohcampus.com/" />
              <h1>oh campus</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="http://duvibes.in/">
              <img src="images/sponser/duvibes.jpeg" style="padding:40px;"alt="" />
              <h1>Du Vibes</h1>
              <p>Digital Media Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.google.com/amp/s/www.edtimes.in/%3famp">
              <img src="images/sponser/edtimes.png" style="padding:70px;" alt="" />
              <h1>ED Times</h1>
              <p>Blogging Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.cetpainfotech.com/allcourses">
              <img src="images/sponser/cepta.jpg"style="padding:45px;" alt="" />
              <h1>Cepta</h1>
              <p>Gifting Partner</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="https://www.thesouledstore.com/explore/t-shirts?utm_source=google&utm_medium=cpc&utm_campaign=LD_Brand_Exact_Mobile&utm_adgroup=&utm_term=the%20souled%20store&utm_network=g&utm_matchtype=e&utm_device=m&gclid=CjwKCAiA-P7xBRAvEiwAow-VaTKzN9-wjHeHnVxr_82VwF-ne5DoJMPGuvlfm8nrOXWQARyeXGRnoRoChSsQAvD_BwE">
              <img src="images/sponser/souledstore.png" style="padding:60px" alt="" />
              <h1>The Souled Store</h1>
              <p>Gifting Partner</p>
            </a>
          </div>
        </li>
  
        
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/10944255073_973d2cd25c.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/8048823381_0fbc2d8efb.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6216951796_e50778255c.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/12953056854_b8cdf14f21.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/5986939269_10721b8017.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/5733278274_2626612c70.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6822904141_50277565c3.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/13199704015_72aa535bd7.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/10944255073_973d2cd25c.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="images/sponser/8048823381_0fbc2d8efb.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </a>
          </div>
        </li>
      -->
      </ul>
      <footer class="copyright-block">
        <div class="copyright-box">
          <h6 class="copyright-written">Copyright &copy; e-Cell Technical Team 2020</h6>
        </div>
      </footer>
      <!-- loader js start-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
      <script type="text/javascript">
        $(window).load(function () {
          // Animate loader off screen
          $(".se-pre-con").fadeOut("slow");;
        });
      </script>
      <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="./js/custom.js"></script>
      <script type="text/javascript" src="./js/popup.js"></script>
      <!-- loader js ends-->
    </body>
    
    </html>