<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Team</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap4/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main_styles.css">
  <link rel="stylesheet" type="text/css" href="./css/responsive.css">
  <!-- font-awesome -->
  <link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- sponsers css -->
  <link rel="stylesheet" type="text/css" href="./css/sponser-hexagons.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <!--loader css start-->
  <style type="text/css">
    .no-js #loader {
      display: none;
    }

    .js #loader {
      display: block;
      position: absolute;
      left: 100px;
      top: 0;
    }

    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(images/64x64/Preloader_8.gif) center no-repeat #fff;
    }

    .section-title .title {
      position: relative;
      text-transform: capitalize;
      font-weight: 900;
      font-size: 42px;
      overflow: hidden;
    }

    .section-title {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  </style>
  <!--loader css ends-->
</head>

<body>
  <div class="super_container">
    <!-- Menu -->
    <div class="menu trans_500">
      <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container">
          <div class="menu_close"></div>
        </div>
        <div class="logo menu_logo">
          <a href="#">
            <div class="logo_container d-flex flex-row align-items-start justify-content-start">
              <div class="logo_image">
                <div><img src="images/logo.png" alt=""></div>
              </div>
              <div class="logo_content">
                <div class="logo_text logo_text_not_ie">E-Summit’20</div>
                <div class="logo_sub">Breakthrough To Excellence</div>
              </div>
            </div>
          </a>
        </div>
        <ul>
          <li class="menu_item"><a href="/">Home</a></li>
          <li class="menu_item"><a href="/#">Speakers</a></li>
          <li class="menu_item"><a href="#">Sponsors</a></li>
          <li class="menu_item"><a href="/team">Team</a></li>
        </ul>
      </div>
      <div class="menu_social">
        <div class="menu_social_title">Follow us on Social Media</div>
        <ul>
          <li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Home -->

    <div class="home" style="height:220px;">
      <!-- Header -->
      <header class="header" id="header">
        <div>
          <div class="header_top">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <a href="#">
                        <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                          <div class="logo_image">
                            <div><img src="images/logo.png" alt=""></div>
                          </div>
                          <div class="logo_content">
                            <div id="logo_text" class="logo_text logo_text_not_ie">E-Summit’20</div>
                            <div class="logo_sub">Breakthrough To Excellence</div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="header_social ml-auto">
                      <ul>
                        <li><a href="https://www.facebook.com/endeavourkiet/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/endeavour__2020/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/ecellkiet"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/e-cell-kiet/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header_nav" id="header_nav_pin">
            <div class="header_nav_inner">
              <div class="header_nav_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                        <nav class="main_nav">
                          <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Speakers</a></li>
                            <li><a href="#">Sponsors</a></li>
                            <li class="active"><a href="/team">Team</a></li>
                          </ul>
                        </nav>
                       <!-- <div class="header_extra ml-auto">
                          <div class="button header_button"><a href="/register">Register</a></div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="section-title">
    <h3 class="title text-center"><span class="appear" style="color:#0b0f28;">Our</span> <span style="color:#701f48"
        class="appear">Team</span></h3>
  </div>
  <div class="se-pre-con"></div>
  <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/shashwatt.jfif" alt="shashwat" />
          <h1>Shashwat Mishra</h1>
          <p>President</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/harsh.jpeg" alt="Harsh" />
          <h1>Harsh Mishra</h1>
          <p>Vice President</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/priya.png" alt="priya" />
          <h1>Priya Mishra</h1>
          <p>Vice President</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/shivamm.jpeg" alt="shivam" />
          <h1>Shivam Dwivedi</h1>
          <p>Technical Head</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/nipun.png" alt="nipun" />
          <h1>Nipun Kumar</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/vedant.jpeg" alt="vedant" />
          <h1>Vedant Agarwal</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/navya.jpeg" alt="navya" />
          <h1>Navya Agarwal</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <!--
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/vaibhav.jpeg" alt="Vaibhav" />
          <h1>Vaibhav Jaiswal</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
  -->
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/ritik.jpeg" alt="ritik" />
          <h1>Ritik Mehta</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/parneet.jpeg" alt="Parneet" />
          <h1>Parneet Raghuvanshi</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/nishant.jpeg" alt="nishant" />
          <h1>Nishant Jawla</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/pranav.jpeg" alt="pranav" />
          <h1>Pranav Shukla</h1>
          <p>Technical Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/abhishek.jpeg" alt="abhishek" />
          <h1>Abhishek Mishra</h1>
          <p>Corporate Head</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/shivansh.png" alt="shivansh" />
          <h1>Shivansh Srivastava</h1>
          <p>Corporate Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/kinshuk.jpeg" alt="kinshuk" />
          <h1>Kinshuk Agarwal</h1>
          <p>Corporate Team</p>
        </a>
      </div>
    </li>
    <!--
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/utkarsh.jpeg" alt="uttkarsh" />
          <h1>Uttkarsh Mishra</h1>
          <p>Corporate Team</p>
        </a>
      </div>
    </li>
  -->
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/ananya.jpg" alt="ananya" />
          <h1>Ananya Shukla</h1>
          <p>Corporate Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/anshika.png" alt="anshika" />
          <h1>Anshika Verma</h1>
          <p>Public Relation Head</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/shivangi.jpeg" alt="shivangi" />
          <h1>Shivangi Mishra</h1>
          <p>Public Relation Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/bhavya.jpeg" alt="bhavya" />
          <h1>Bhavya Gulati</h1>
          <p>Public Relation Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/harshit.png" alt="" />
          <h1>Harshit Saxena</h1>
          <p>Public Relation Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/tanishka.png" alt="tanishka" />
          <h1>Arvind</h1>
          <p>Public Relation Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/pravish.jpeg" alt="tanishka" />
          <h1>Pravish</h1>
          <p>Public Relation Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/atrij.png" alt="atrij" />
          <h1>Atrij Dixit</h1>
          <p>Public Realtion Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/pallavi.jpeg" alt="pallavi" />
          <h1>Pallavi Goyal</h1>
          <p>Event Head</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/maulik.jpeg" alt="maulik" />
          <h1>Maulik Varshney</h1>
          <p>Event Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/siddhant.jpeg" alt="siddhant" />
          <h1>Siddhant Gupta</h1>
          <p>Event Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/abhay.jpeg" alt="abhay" />
          <h1>Abhay Gupta</h1>
          <p>Event Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/sanskriti.jpeg" alt="sanskriti" />
          <h1>Sanskriti Jaiswal</h1>
          <p>Event Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/uttkarsh.jpeg" alt="utkarsh" />
          <h1>Utkarsh Jain</h1>
          <p>Event Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/surya.jpeg" alt="surya" />
          <h1>Surya Prakash Pandey</h1>
          <p>Graphics Head</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/ayushi.jpeg" alt="ayushi" />
          <h1>Ayushi Srivastava</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/jatin.jpg" alt="jatin" />
          <h1>Jatin Kumar</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/ayush.jpeg" alt="ayush" />
          <h1>Ayush Singh</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/anurag.jpeg" alt="anurag" />
          <h1>Anurag Maurya</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/shubham.png" alt="shubham" />
          <h1>Shubham Singh</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/team-img/iqra.jpg" alt="iqra" />
          <h1>Iqra Aamin</h1>
          <p>Graphics Team</p>
        </a>
      </div>
    </li>
    
  </ul>
  <!-- loader js start-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script type="text/javascript">
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>
  <!-- loader js ends-->
  <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./js/custom.js"></script>
</body>

</html>