<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sponser: Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap4/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main_styles.css">
  <link rel="stylesheet" type="text/css" href="./css/responsive.css">
  <!-- font-awesome -->
  <link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- sponsers css -->
  <link rel="stylesheet" type="text/css" href="./css/sponser-hexagons.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <!--loader css start-->
  <style type="text/css">
    .no-js #loader {
      display: none;
    }

    .js #loader {
      display: block;
      position: absolute;
      left: 100px;
      top: 0;
    }

    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(images/64x64/Preloader_8.gif) center no-repeat #fff;
    }

    .section-title .title {
      position: relative;
      text-transform: capitalize;
      font-weight: 900;
      font-size: 42px;
      overflow: hidden;
    }

    .section-title {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  </style>
  <!--loader css ends-->
</head>

<body>
  <div class="super_container">
    <!-- Menu -->
    <div class="menu trans_500">
      <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container">
          <div class="menu_close"></div>
        </div>
        <div class="logo menu_logo">
          <a href="#">
            <div class="logo_container d-flex flex-row align-items-start justify-content-start">
              <div class="logo_image">
                <div><img src="images/logo.png" alt=""></div>
              </div>
              <div class="logo_content">
                <div class="logo_text logo_text_not_ie">E-Summit’19</div>
                <div class="logo_sub">March 3, 2019 - KIET</div>
              </div>
            </div>
          </a>
        </div>
        <ul>
          <li class="menu_item"><a href="/">Home</a></li>
          <li class="menu_item"><a href="/speaker">Speakers</a></li>
          <li class="menu_item"><a href="/sponsors">Sponsors</a></li>
          <li class="menu_item"><a href="/team">Team</a></li>
        </ul>
      </div>
      <div class="menu_social">
        <div class="menu_social_title">Follow uf on Social Media</div>
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Home -->

    <div class="home" style="height:220px;">
      <!-- Header -->
      <header class="header" id="header">
        <div>
          <div class="header_top">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <a href="#">
                        <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                          <div class="logo_image">
                            <div><img src="images/logo.png" alt=""></div>
                          </div>
                          <div class="logo_content">
                            <div id="logo_text" class="logo_text logo_text_not_ie">E-Summit’19</div>
                            <div class="logo_sub">March 23, 2019 - KIET</div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="header_social ml-auto">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header_nav" id="header_nav_pin">
            <div class="header_nav_inner">
              <div class="header_nav_container">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
                        <nav class="main_nav">
                          <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/speaker">Speakers</a></li>
                            <li><a href="/sponsors">Sponsors</a></li>
                            <li class="active"><a href="/team">Team</a></li>
                          </ul>
                        </nav>
                       <!-- <div class="header_extra ml-auto">
                          <div class="button header_button"><a href="/register">Register</a></div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="section-title">
    <h3 class="title text-center"><span class="appear" style="color:#0b0f28;">Our</span> <span style="color:#8000B7"
        class="appear">Team</span></h3>
  </div>
  <div class="se-pre-con"></div>
  <ul id="hexGrid">
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/8048823381_0fbc2d8efb.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/5053682635_b348b24698.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6216951796_e50778255c.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/12953056854_b8cdf14f21.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/5986939269_10721b8017.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/5733278274_2626612c70.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6822904141_50277565c3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/13199704015_72aa535bd7.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10944255073_973d2cd25c.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/8048823381_0fbc2d8efb.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6216951796_e50778255c.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10384422264_d9c7299146.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/12953056854_b8cdf14f21.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/5986939269_10721b8017.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/5733278274_2626612c70.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6822904141_50277565c3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/13199704015_72aa535bd7.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6055581292_d94c2d90e3.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/6895047173_d4b1a0d798.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/10944255073_973d2cd25c.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
    <li class="hex">
      <div class="hexIn">
        <a class="hexLink" href="#">
          <img src="images/sponser/8048823381_0fbc2d8efb.jpg" alt="" />
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  </ul>
  <!-- loader js start-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script type="text/javascript">
    $(window).load(function () {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>
  <!-- loader js ends-->
  <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./js/custom.js"></script>
</body>

</html>