<section id="container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="index.html" class="logo"><b>Dash<span>Ecell</span></b></a>
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="mt">
                    <a class="active" href="/admin">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>Admin</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/participation">Participent List</a></li>
                        <li><a href="/admin/query">Query Desk</a></li>
                        <li><a href="/admin/task">Admin Task</a></li>
                        <li><a href="/admin/contact">Contact Generation</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>Event</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/eventcreation">Event Creation</a></li>
                        <li><a href="/admin/quizaddition">Quiz Addition</a></li>
                        <li><a href="/admin/quizmanage">Quiz Manage</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span>Quiz</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/addquestion">Add Question</a></li>
                        <li><a href="/admin/questionlist">Question List</a></li>
                        <li><a href="/admin/result">Result</a></li>
                        <li><a href="/participant/quiz">quiz</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>